<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <main class="container">
      <h1 class="heading">Our Own google engine</h1>

      <form action="https://google.com/search" method="GET">
        <div>
          <label for="search_query">Search Query</label>
          <input id="search_query" name="q" placeholder="Enter your search" />
        </div>
        <div>
          <button type="submit">Search On Google</button>
        </div>
      </form>
    </main>
  </body>
</html>
